<div id="new_fib_container">
  <h1>New Fib Sequence</h1>
  Space: <%= number_field_tag :space, nil, id: 'new_fib_space_input' %><br />
  <div class="actions">
    <br />
    <%= button_to 'Generate', '!#', id: 'new_fib' %>
    <%= button_to 'Cancel', '!#', id: 'cancel_form' %>
  </div>
</div>
