<div id="show_fib_container">
  <h3>ID:</h3>
  <p id='fib_id'></p>
  <h3>Space:</h3>
  <p id='fib_space'></p>
  <h3>Sequence:</h3>
  <p id='fib_sequence'></p>
  <h3>Sum of Squares:</h3>
  <p id='fib_sof'></p>
  <h3>Created:</h3>
  <p id='fib_created_at'></p>
</div>
